.cache/
.vscode/
bundle/
docs/_site
docs/vendor
dist/*
dist-*/*
esm/
node_modules/
test-tooling/rollup/dist/
test-tooling/webpack/dist/
test-tooling/tsconfig-esm/dist/
test/workers/*.js
.DS_Store
Thumbs.db
*.log

test-browser/.dist/
test-results/
playwright-report/
coverage/
coverage-browser/
coverage-merged/
.nyc_output/
examples/*/dist/
examples/*/package-lock.json
examples/*/package.json
